# This is a basic workflow that is manually triggered

name: CI

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build and publish
        env:
          DOCKER_HUB: ${{ secrets.DOCKER_HUB }}
          DOCKER_HUB_KEY: ${{ secrets.DOCKER_HUB_KEY }}
        run: |
          echo "Docker Login"
          docker login -u $DOCKER_HUB -p $DOCKER_HUB_KEY
          echo "Running build..."
          docker build . -t uzumlukek/nosql-database
          echo "Pushing image..."
          docker push uzumlukek/nosql-database
          echo "Done!"
